*{
    font-family: "Space Grotesk"; 
}
    
body {
    margin: 0;
    font-family: monospace;
    background: linear-gradient(to right, #222, #444);
    height: 100vh;
    overflow-y: scroll;
    color: white;
}

.DinoGameCode{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 15.2%;  /* 125px / 823px * 100 */
    width: 100%;
    flex-direction: column; 
    padding: 3.6% 0;  /* 30px / 823px * 100 */
} 

.FileTabContainer{
    width: 95.1%;  /* 782px / 823px * 100 */
    display: flex;
    align-items: left;
    justify-content: space-between;
} 

.PreTags{
    width: 91.1%;  /* 750px / 823px * 100 */
}

.UsefulBtns{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
}  

.FileTab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2d;
    border-radius: 15px; 
    font-size: 3.0vw;  /* 25px / 823px * 100 */
    padding: 1.8% 1.2%;  /* 15px / 823px * 100 */
    gap: 1.2%;  /* 10px / 823px * 100 */
}

.TabImg{
    width: 3.0%;  /* 25px / 823px * 100 */
}

.Imgs{
    width: 2.1%;  /* 17px / 823px * 100 */
}

.Logos{
    width: 2.4%;  /* 20px / 823px * 100 */
}

#RunImage {
    width: 1.8%;  /* 15px / 823px * 100 */
}

#Run {
    display: flex; 
    align-items: center;
    gap: 1.2%;  
    justify-content: space-between;
    padding: 1.2% 2.4%;  /* 10px / 823px * 100, 20px / 823px * 100 */
    font-size: 2.4vw;  /* 20px / 823px * 100 */
    font-weight: bold;
    color: #72d582;
    background-color: #044910;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
} 

#Menu {
    position: relative;
    z-index: 1100;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 48.6%;  /* 400px / 823px * 100 */
    height: 100vh;
    background-color: rgb(44, 52, 68);
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
}

.sidebar-menu {
    list-style-type: none;
    margin: 0;
    padding: 2.4% 3.0%;  /* 20px / 823px * 100 */
    font-size: 2.4vw;  /* 20px / 823px * 100 */
    font-weight: normal;
}

.sidebar-menu li{
    margin: 1.8% 3.0%;  /* 15px / 823px * 100, 25px / 823px * 100 */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.2%;  /* 10px / 823px * 100 */
}

#Html{
    margin-top: 4.9%;  /* 40px / 823px * 100 */
}

.CodeEditorDesigns{
    background-color: rgb(44, 52, 68);
}

.TopDiv {
    width: 100%;
    height: 8.5%;  /* 70px / 823px * 100 */
    background-color: rgb(44, 52, 68);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8% 1.8%;  /* 15px / 823px * 100 */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 100;
}
    
.console-overlay {
    position: fixed;
    display: none; 
    width: 100%;
    height: 50vh;
    bottom: 0;
    background-color: rgba(43,43,43);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
}

.console-title {
    position: sticky;
    top: 0;
    height: 8.5%;  /* 70px / 823px * 100 */
    background-color: rgb(44, 52, 68);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2% 1.8%;  /* 10px / 823px * 100 */
    text-align: left;
    font-weight: bold;
    z-index: 10;
    color: rgb(255, 255, 255);
    font-size: 3.0vw;  /* 25px / 823px * 100 */
}

.console-button {
    margin: 0.6% 2.4%;  /* 5px / 823px * 100, 20px / 823px * 100 */
    padding: 1.2% 3.0%;  /* 10px / 823px * 100, 25px / 823px * 100 */
    color: white;
    background-color: rgb(235,60,60);
    font-size: 2.4vw;  /* 20px / 823px * 100 */
    font-weight: bold;
    border: none;
    border-radius: 15px;
    outline:none;
}

.console-content {
    color: #0f0;
}

.console-line {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#iframeContainer {
    display: flex;
    align-items:center;
    justify-content: center;
}
    
#WindowOutput {
    border: none;
    width: 80%;
    height: 42.5%;  /* 350px / 823px * 100 */
    background-color: white;
}

#glasspane {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(7px);
    display: none;
    z-index: 50;
}

#OpenFolder {
    display: none;
    z-index: 1;
}

.folder-menu {
    display: none;
    padding: 0;
    margin-left: 3.6%;  /* 30px / 823px * 100 */
} 

#GroundImg {
    width: 121.5%;  /* 1000px / 823px * 100 */
}

.folder-imgs {
    width: 30.4%;  /* 250px / 823px * 100 */
}
